<div class="header">
	<h5>
	<ul class="nav nav-pills pull-right">
		<!--<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li> -->
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
	        <li class="{{ page.links }}"><a href="/links" title="Links">LINKS</a></li>
		<!--<li class="{{ page.blogs }}"><a href="/blogs" title="Blogs">BLOGS</a></li> -->
		<!--<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li> -->

	</ul>
	</h5>
	<h2 class="text-muted"><a href="/">NING TIAN</a></h2>
</div> <!-- /header -->
