---
layout: default
blogs: active
---

<div class="blogs">
		<div class="blog single">
			<h4 class="title">{{ page.title }}</h4>
			
			<h5 class="date"><info datetime="{{ page.date }}">
				{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
			</info></h5>
			<!-- Post content -->
			<div class="blogbody">
				{{ content }}
			</div>
			<!-- Post info -->
			<div class="bloginfo">
			<!-- include some categories and tags maybe? -->
			</div>

			<hr>

			<!-- Post comments -->
			<div class="blogcomments">
				{% include disqus.html %}	 
			</div>
		</div><!-- / .blog .single -->
</div><!-- /.blogs -->
